.wrapper {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  height: 600px;
}

header {
  color: aqua;
  text-align: center;
}
.box {
  border: 2px solid green;
  margin: 10px;
  padding-top: 10px;
  height: 420px;
  border-radius: 5%;
}

li {
  list-style-type: none;
  padding: 5px;
}

.chatbox {
  border: 3px solid aqua;
  width: 500px;
}

input {
  margin: 10px;
}
.user-input {
  border: 1px solid black;
}

button {
  background: rgb(194, 235, 235);
}
button:hover {
  background: rgb(81, 121, 121);
  color: white;
}
